{#include base}
    {#content}
    <div class="row row-cards-pf">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="card-pf card-pf-utilization">
                <h2 class="card-pf-title extension-title">
                    {#if extension.icon}<img src="{extension.icon}" />{/if}
                    <a href="https://marketplace.visualstudio.com/items?itemName={extension.name}" target="_blank">
                        {extension.displayName.or(extension.name)}
                    </a>
                </h2>
                <div class="card-pf-body">
                    <p class="card-pf-utilization-details">
                        <span class="card-pf-utilization-card-details-count" id="value"></span>
                        <span class="card-pf-utilization-card-details-line-1"><a href="{extension.name}.csv" class="pficon-export"
                                                                                 title="Raw Data (CSV)"></a></span>
                    </p>
                    <div class="chart-pf-sparkline" id="container"></div>
                </div>
            </div>
        </div>
    </div><!-- /row -->
    {/}

    {#scripts}
      {#bundle tag="script" key="details" /}
      <script type="module">
        jQuery(document).ready(async function (){ drawCharts("{extension}");});
      </script>
    {/}
{/}